{% extends 'base.html' %}

{% block content %}

    <h1>CHAT: {{ chat.title }}</h1>
    <div class="col-md-12">
        <div class="col-md-3">
            <ul id="users_online">Users online:</ul>
        </div>
        <div class="col-md-9" id="chat-box">
            <ul id="messages"></ul>
            <form action="">
                <div class="col-md-11">
                    <input type="text" class="form-control" id="m" autofocus style="border: 0"/>
                </div>
                <div class="col-md-1">
                    <button class="btn">Send</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var socket = io('http://127.0.0.1:8080/chat');
        socket.on('connect', function(){
            console.log('a user connected');
            socket.emit('enter_room', {'room': '{{ chat.id }}'});
        });

        socket.on('reply', function(data){
{#          console.log('a event: ' + data);#}
          $('#messages').append($('<li>').text(data));
        });

        socket.on('online', function(data){
          $('#users_online').append($('<li>').text(data['user']));
        });

        socket.on('disconnect', function(){
          console.log('a user disconnected');
        });

        $('form').submit(function(){
            var message =  $('#m').val();
            var room = '{{ chat.id }}';
            if (message.length) {
                socket.emit('message', {'message': message, 'room': room});
                $('#m').val('');
            }


            var ul = $("#messages");
            var last_li = ul.children().last();
            if (last_li.length) {
                var wholeHeight = last_li.offset().top - ul.children().first().offset().top;
{#                console.log(wholeHeight  +'--'+ last_li.html() + '--' + last_li.outerHeight());#}
                ul.animate({
                     scrollTop:  wholeHeight+'px'
                }, 'fast');
            }

            return false;
        });

    </script>
    <script>



    </script>
{% endblock content %}