{% extends 'base.html' %}

{% block content %}
    {% if request.user %}
        <h3>To add new chat use this form:</h3>
            <form action="/add_chat" method="post" accept-charset="utf-8"
                enctype="application/x-www-form-urlencoded">

                <label for="chat_title">Title:</label>
                <input id="chat_title" name="chat_title" type="text" value="" autofocus/>
                <input type="submit" value="create"/>
            </form>
        <h3>Your chats:</h3>
        <ul>

        {% for obj in chats %}

            <li><a href="{{ app.router.chat.url(parts={'id':obj.id}) }}">{{ obj.title }}</a> - {{ obj.created_datetime }}</li>
        {% endfor %}
        </ul>

    {% else %}
        <h3>To login or register use this:</h3>
            <form action="/login" method="post" accept-charset="utf-8"
                enctype="application/x-www-form-urlencoded">

                <label for="username">Username:</label>
                <input id="username" name="username" type="text" value="" autofocus/>
                <label for="password">Password:</label>
                <input id="password" name="password" type="password" value=""/>

                <input type="submit" value="login"/>
            </form>
    {% endif %}
{% endblock %}
