#messages {
    list-style-type: none;
    margin-bottom: 15px;
    padding:10px;
    height:75vh;
    overflow-y: auto}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
#chat-box {
    background-color: rgba(11, 52, 55, 0.04);
    padding: 10px
}